
<div class="dizme_tm_section">
    <div class="dizme_tm_copyright">
        <div class="container">
            <div class="inner">
                <div class="left wow fadeInLeft" data-wow-duration="1s">
                    <p>Developed by Khayal Salimov &copy; @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </div>
</div>
