<!DOCTYPE html>

<html lang="en">

@await Html.PartialAsync("/Views/Shared/LayoutPartial/_HeaderPartial.cshtml")

<body class="dark">

    <div id="preloader">
        <div class="loader_line"></div>
    </div>


    <div class="dizme_tm_all_wrap" data-magic-cursor="show">

        @await Html.PartialAsync("/Views/Shared/LayoutPartial/_MobilePartial.cshtml")


        @await Html.PartialAsync("/Views/Shared/LayoutPartial/_NavbarPartial.cshtml")


        @RenderBody()


        @await Html.PartialAsync("/Views/Shared/LayoutPartial/_FooterPartial.cshtml")


        <div class="mouse-cursor cursor-outer"></div>
        <div class="mouse-cursor cursor-inner"></div>


        <div class="progressbar">
            <a href="~/#"><span class="text">To Top</span></a>
            <span class="line"></span>
        </div>

    </div>

    @await Html.PartialAsync("/Views/Shared/LayoutPartial/_ScriptsPartial.cshtml")



</body>

</html>

