@using EntityLayer.Concrete
@model List<Portfolio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Project Url</th>
        <th>Image</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <td>@item.ProjectUrl</td>
            <td>
                <img width="200" height="150" src="~/myimg/@item.ImageUrl">
            </td>
            <td><a href="/Member/Portfolio/Delete/@item.Id" class="btn btn-danger">Delete</a></td>
            <td><a href="/Member/Portfolio/Edit/@item.Id" class="btn btn-warning">Edit</a></td>
        </tr>
    }
</table>

<a href="/Member/Portfolio/Create/" class="btn btn-primary">Create new item</a>

