@model EntityLayer.Concrete.Contact


<div class="dizme_tm_section" id="contact">
    <div class="dizme_tm_contact">
        <div class="container">
            <div class="dizme_tm_main_title" data-align="center">
                <span>Contact Me</span>
                <h3>I Want To Hear From You</h3>
                <p>Please fill out the form on this section to contact with me. Or call between 9:00 a.m. and 8:00 p.m.y</p>
            </div>
            <div class="contact_inner">
                <div class="left wow fadeInLeft" data-wow-duration="1s">
                    <ul>
                        <li>
                            <div class="list_inner">
                                <div class="icon orangeBackground">
                                    <i class="icon-location orangeText"></i>
                                </div>
                                <div class="short">
                                    <h3>Address</h3>
                                    <span>Sumgait</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list_inner">
                                <div class="icon greenBackground">
                                    <i class="icon-mail-1 greenText"></i>
                                </div>
                                <div class="short">
                                    <h3>Email</h3>
                                    <span>selimovxeyal@gmail.com</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list_inner">
                                <div class="icon purpleBackground">
                                    <i class="icon-phone purpleText"></i>
                                </div>
                                <div class="short">
                                    <h3>Phone</h3>
                                    <span>+994 70 636 11 30</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="right wow fadeInRight" data-wow-duration="1s">
                    <div class="fields">
                        <form  method="post">
                            <div class="returnmessage" data-success="Your message has been received, We will contact you soon."></div>
                            <div class="empty_notice"><span>Please Fill Required Fields</span></div>
                            <div class="input_list">
                                <ul>
                                    <li><input  type="text" asp-for="@Model.Name" placeholder="Your Name" /></li>
                                    <li><input  type="email" asp-for="@Model.Email" placeholder="Your Email" /></li>

                                </ul>
                            </div>
                            <div class="message_area">
                                <textarea asp-for="@Model.Message" placeholder="Write your message here"></textarea>
                            </div>
                            <input type="submit" />
                        </form>
                    </div>
                </div>
                <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="img/brushes/contact/2.png" alt="" /></div>
            </div>
        </div>
        <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="img/brushes/contact/1.png" alt="" /></div>
    </div>
</div>
